numpy<1.24,>=1.22
openai==0.27.7
pandas==2.0.2
scikit_learn==1.2.2
search_engine_parser==0.6.8
sentence_transformers==2.2.2
streamlit==1.23.1
streamlit_chat==0.0.2.2
torch==2.0.1

# development
pre-commit